<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaft.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>TODO supply a title</title>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"></header>

        <div class ="container py-4">
            <div class = "row"></div>
            <div class = "row row-cols-6">
                <a th:href="@{/}" class="btn btn-primary">
                    <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
                </a>
            </div>
            <div class = "row row-cols-6 py-4">
                <div class = "col-md-4">
                    <div class = "card">
                        <div class="card-header text-center">
                            reporte Clientes
                        </div>
                        <div class = "card-body">
                            <a th:href="@{/reportes/usuariosp?tipo=vPdf}" class="btn btn-primary">
                                <i class="fas fa-eye"></i><i class="fas fa-file-pdf"></i>
                            </a>
                            <a th:href="@{/reportes/usuariosp?tipo=Pdf}" class="btn btn-success">
                                <i class="fas fa-download"></i><i class="fas fa-file-pdf"></i>
                            </a>
                            <a th:href="@{/reportes/usuariosp?tipo=Xls}" class="btn btn-danger">
                                <i class="fas fa-eye"></i><i class="fas fa-file-excel"></i>
                            </a>
                            <a th:href="@{/reportes/usuariosp?tipo=Csv}" class="btn btn-info">
                                <i class="fas fa-eye"></i><i class="fas fa-file-csv"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class = "col-md-4">
                    <div class = "card">
                        <div class="card-header text-center">
                            Reporte Ventas
                        </div>
                        <div class = "card-body">
                            <a th:href="@{/reportes/ventas?tipo=vPdf}" class="btn btn-primary">
                                <i class="fas fa-eye"></i><i class="fas fa-file-pdf"></i>
                            </a>
                            <a th:href="@{/reportes/ventas?tipo=Pdf}" class="btn btn-success">
                                <i class="fas fa-download"></i><i class="fas fa-file-pdf"></i>
                            </a>
                            <a th:href="@{/reportes/ventas?tipo=Xls}" class="btn btn-primary">
                                <i class="fas fa-eye"></i><i class="fas fa-file-excel"></i>
                            </a>
                            <a th:href="@{/reportes/ventas?tipo=Csv}" class="btn btn-primary">
                                <i class="fas fa-eye"></i><i class="fas fa-file-csv"></i>
                            </a>  
                        </div>
                    </div>
                </div>
                <div class = "col-md-4">
                    <div class = "card">
                        <div class="card-header text-center">
                            Reporte Productos
                        </div>
                        <div class = "card-body">
                            <a th:href="@{/reportes/Productos?tipo=vPdf}" class="btn btn-primary">
                                <i class="fas fa-eye"></i><i class="fas fa-file-pdf"></i>
                            </a>
                            <a th:href="@{/reportes/Productos?tipo=Pdf}" class="btn btn-success">
                                <i class="fas fa-download"></i><i class="fas fa-file-pdf"></i>
                            </a>
                            <a th:href="@{/reportes/Productos?tipo=Xls}" class="btn btn-primary">
                                <i class="fas fa-eye"></i><i class="fas fa-file-excel"></i>
                            </a>
                            <a th:href="@{/reportes/Productos?tipo=Csv}" class="btn btn-primary">
                                <i class="fas fa-eye"></i><i class="fas fa-file-csv"></i>
                            </a>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="~{layout/plantilla :: footer}"></footer>
    </body>
</html>
